
.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
  .input-container:hover {
    background: #eee;
    border-color: #111;
  }
  
  .input-container:hover .input-title {
    color: #222;
  }
  
  .input-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
    margin-bottom: 10px;
  }
  

  .icon {
    width: 48px; 
    height: 48px;
    margin: 10px; 
  }
  

  input[type="file"] {
    margin: 10px 0;
    padding: 10px;
    border: none; 
    width: 100%; 
    cursor: pointer; 
  }
  
 
  input[type="text"] {
    margin: 10px 0;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 14px;
    width: 60%; 
    height: 50%;
  }
  
  
  button {
    padding: 10px;
    border: none; 
    border-radius: 5px; 
    background-color: rgba(111, 66, 193, 0.8);
    color: white; 
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s;
    width: 60%; 
  }


  